.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
}

.logoWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* //////////////////////////////////////////////////////////////// */
/* /////////////////////////mobile styling///////////////////////// */
/* //////////////////////////////////////////////////////////////// */

@media (max-width: 600px) {
  .logoWrapper {
    display: none;
  }
}
